body {
    margin: 0 0 1em 0;
    padding: 0;
    font-size: 1em;
    color: white;
    background-color: #2F343E;
    font-family: "Proxima Nova Extra Condensed",proxima-nova-extra-condensed,Helvetica,sans-serif;
}

#site-header {
    background-color: #1b1a19;
    color: white;
    font-size: 2.25em;
    padding: 20px 0px 20px 20px;
}

#site-icon {
    margin-right: 0.5em;
    color: white;
}

.login {
    padding-top: 150px;
    padding-bottom: 120px;
    text-align: center;
}

h2 {
    margin-top: 1.5em;
}

#workspace {
    padding-left: 2em;
    display: table-cell;
}

.icon-bar {
    background-color: #252524;
    display: table-cell;
    float: left;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.center-up {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.center-up-db {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.center-up-inv {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.table-label {
    text-align: right;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
}

.icon-bar a:hover {
    background-color: #878da9;
}

.icon-bar .active {
    background-color: #4CAF50;
}

.icon-bar .active:hover {
    background-color: #4CAF50;
}

p {
    margin-bottom: 1.5em;
}

.section {
    overflow: visible;
    display: block;
    clear: both;
    margin: 0 0 1.0em 0;
    overflow: auto;
}

.item {
    display: inline;
    float: none;
    margin-right: 1.0em;
    margin-bottom: 1.0em;
}

button, input[type=submit], input[type=button] {
    cursor: pointer;
    padding: 12px 30px 12px 30px;
    background-color: dimgray;
    color: white;
} 

button i {
    margin-right: 0.35em;
}

.button-action {
    background-color: dimgray;
    color: white;
}

.button-action:hover {
    background-color: gray;
}

.button-cancel {
    background-color: #643A43;
    color: white;
}

.button-cancel:hover {
    background-color: #7A4751;
    color: grey;
}

.button-alert {
    background-color: #FF0000;
    color: white;
}

.button-alert:hover {
    background-color: #b30000;
    color: white;
}

.mobile-content {
    display: none;
}

#content-success {
    border: 1px solid gray;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    background-color: #3E392F;
    padding: 1em;
    margin-bottom: 1em;
}

#content-success i {
    color: green;
}

#content-success span {
    margin-left: 1em;
}

#content-locked {
    border: 1px solid gray;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    background-color: #3E392F;
    padding: 1em;
    margin-bottom: 1em;
}


#content-locked i {
    color: red;
}

#content-locked span {
    margin-left: 1em;
}

@media only screen and (max-width : 30em) {
    .item {
        width: 90%;
        display: block;
    }
}

@media only screen and (max-width : 48em) {

    h2 {
        margin-top: 0.5em;
    }

    #workspace {
        padding-left: 1em;
    }

    #site-header {
        font-size: 1.75em;
        padding: 10px 0px 10px 10px;
    }

    p {
        margin-bottom: 1em;
    }

    .full-content {
        display: none;
    }

    .mobile-content {
        display: inline;
    }

    .icon-bar a {
        padding: 10px;
        font-size: 20px;
    }

    .credentials {
        padding: 30px
    }

    .login {
        text-align: center;
        padding-top: 150px;
        padding-bottom: 120px
    }

    homepage.submit {
        padding-bottom: 30px;
        background-color: black;
        color: white;
        width: 200px;
        text-align: center;
        font-size: 20px
    }
}
