
@{
    ViewBag.Title = "homepage";
}

<style>
    body {
        background-color: lightgray
    }


    .credentials {
        padding: 30px
    }


    .login {
        text-align: center
    }

    
</style>




<div class="login">                                             <!--A class for the login page.-->

    <h1>SmartStock</h1>                 
                                                                <!--Title and subtitles-->
    <p>~Smart Savings Start with SmartStock~</p>
    <p>Log in and Start Saving Today</p>

    <fieldset class="credentials">                              <!--fieldset for user credentials.-->
        UserName: <input type="text"><br>
        <br />
        Password : <input type="text"><br>
    </fieldset>

    <button class="submit"></button>                            <!--This button requires back-end before we can actually use it-->

    <a href="login">Don't have an account? Sign up today.</a>   <!--This link does nothing right now-->
</div>


