
@{
    ViewBag.Title = "View";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>SmartStock</title>
    <meta name="Login" content="Login Page for SmartStock">
    <link rel="stylesheet" href="css/reset/reset.css">
</head>
<body>
    <div><h1>SmartStock</h1></div>
    <asp:Login runat="server"></asp:Login>
</body>
</html><asp:LoginView runat="server"></asp:LoginView>

