@{
    ViewBag.Title = "Dashboard";
}


<h1>Dashboard</h1>

<div class="Dashboard">
    <h2>Literally nothing to put in here right now. </h2>
    <h2>Everything in this page is reliant on back-end data</h2>
</div>