@model IEnumerable<SmartStock.Models.Card>
@{
    ViewBag.Title = "Dashboard";
}
<style>
	.card {
		vertical-align: middle;
		background-color: #3e3e3c;
		padding: 20px 20px;
		margin: 50px 2px;
		border: 1px solid #1b1a19;
		border-radius: 8px;
		width: 1200px;
	}

	.icon {
		float: left;
		margin-right: 20px;
		padding-bottom: 10px;
		color: #cdcdcb;
	}

	.date {
		font-size: 14px;
		color: grey;
	}

	.message {
		font-size: 20px;
	}

	.trash{
		text-align: right;
	}

	.button-action-edit-delete {
		padding: 6px 6px;
		background-color: dimgray;
		color: white;
		text-align:center;
	}

	.button-action-edit-delete:hover {
		background-color: gray;
	}

</style>
<div class="center-up-db">
	<h1 style="text-align: center;">@ViewBag.Title</h1>
	@foreach (var item in Model) {
		<div>
			<div>
				<div class="card">
					<div class="icon">
						@if (item.CardType == SmartStock.Models.Card.CardTypes.Announcement) {
							<i class='fa-solid fa-bullhorn fa-3x'></i>
						}
						@if (item.CardType == SmartStock.Models.Card.CardTypes.StockAlert) {
							<i class="fa-solid fa-box-open fa-3x"></i>
						}
						@if (item.CardType == SmartStock.Models.Card.CardTypes.PriceIncrease) {
							<i class='fa-solid fa-money-bill-wave fa-3x'></i>
						}
					</div>
					<div class="message">
						<div class="date">@Html.DisplayFor(modelItem => item.AlertDateTime)</div>
						<div>
							@Html.DisplayFor(modelItem => item.Message)
							<div class="trash">
								<button class="button-action-edit-delete" onclick="location.href='@Url.Action("DeleteCard", "Profile", new { Card_ID = item.Card_ID })';"><i class="fa-solid fa-trash"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}

	<form action="CreateCard">
		<input class="button-action-edit-delete" type="submit" value="+ New Announcement" />
	</form>
</div>