@model IEnumerable<SmartStock.Models.TAlert>
<h2>Delete Card</h2>

<h3>Are you sure you want to delete this Card?</h3>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button id="btnBack" name="btnCancel" value="back" class="button-action"><i class="fa-solid fa-arrow-left"></i> Back</button>
            <button id="btnDeleteCard" name="btnSubmit" value="deleteSubmit" class="button-action"><i class="fa-solid fa-trash"></i> Delete</button>
        </div>
    }
</div>
