
@{
    ViewBag.Title = "EditItem";
}

<div class="EditItem">

    <h1>Edit Item</h1>

    <!--In practice, this list will be pre-occu[ied with the values of the item to edit-->
    <div class="item">
        <form action="EditItem">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>

            <label for="category">Category:</label>
            <input type="text" id="category" name="category"><br><br>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location"><br><br>

            <label for="price">Price:</label>
            <input type="text" id="price" name="price"><br><br>

            <label for="inventory">Inventory:</label>
            <input type="text" id="inventory" name="inventory"><br><br>

            <label for="unitMeasurement">Unit/Measurement:</label>
            <input type="text" id="unitMesaurement" name="unitMeasurement"><br><br>

            <label for="supplier">Supplier:</label>
            <input type="text" id="supplier" name="supplier"><br><br>

        </form>

        <form action="SingleItem">
            <input type="submit" value="Cancel" />
        </form>

        <form action="Inventory">
            <input type="submit" value="Submit" />
        </form>

    </div>
</div>