@{
    ViewBag.Title = "InventoryAdjustment";
}

@model IEnumerable<SmartStock.Models.TInventory>
@using (Html.BeginForm())
{
    <h1>Inventory Adjustment</h1>
    <div>
        <button id="btnAudit" name="btnSubmit" value="audit" class="button-action"><i class="fa-solid fa-calculator"></i> Audit</button>
        <button id="btnDelivery" name="btnSubmit" value="delivery" class="button-action"><i class="fa-solid fa-truck-ramp-box"></i> Delivery</button>
    </div>


    if (ViewBag.flag == 1)
    {
        @Html.Partial("Audit");
    }
    if (ViewBag.flag == 2)
    {
        @Html.Partial("Delivery");
    }
}