@{
    ViewBag.Title = "InventoryAdjustment";
}

@model IEnumerable<SmartStock.Models.TInventory>
@using (Html.BeginForm())
{
    <h1>Inventory Adjustment</h1>
    <div>
        <button id="btnAudit" name="btnSubmit" value="audit" class="button-action"><i class="fas fa-user-plus"></i> Audit</button>
        <button id="btnDelivery" name="btnSubmit" value="delivery" class="button-action"><i class="fas fa-user-plus"></i> Delivery</button>
    </div>

    if (ViewBag.flag == 0)
    {
        <h1>Select an Adjustment Type</h1>
    }
    if (ViewBag.flag == 1)
    {
        @Html.Partial("Audit");
    }
    if (ViewBag.flag == 2)
    {
        @Html.Partial("Delivery");
    }
}